@media (max-width: 575.98px) { 
    .logo{
        order: 2!important;
    }
    .my-nav-btn{
        order: 1!important;
    }
    .img-nav{order: 2!important;}
    .navbar-collapse{
        order: 3;
    }


}




@media (min-width: 576px) and (max-width: 767.98px) {
    .logo{
        order: 2!important;
    }
    .my-nav-btn{
        order: 1!important;
    }
    .img-nav{order: 2!important;}
    .navbar-collapse{
        order: 3;
    }
}



@media (min-width: 768px) and (max-width: 991.98px) {

    .logo{
        order: 2!important;
    }
    .my-nav-btn{
        order: 1!important;
    }
    .img-nav{order: 2!important;}
    .navbar-collapse{
        order: 3;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .nav-item .nav-link span{
        display: none;
    }
    .nav-item .nav-link img{
        display: none;
    }
    .profile{
        display: none;
    }

}


@media (min-width: 1200px) {
    .nav-item .nav-link span{
        display: none;
    }
    .nav-item .nav-link img{
        display: none;
    }
    .profile{
        display: none;
    }

}